@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  width: 100vw;
  min-height: 100vh;
  background-color: #400e32;
  color: white;
}

.nav-menu {
  display: flex;
}
.button {
  background-color: #f2cd5c;
}
